{{> top }}
	<main>
		<!-- <a href="../"FT Guffipedia &gt;>FT Guffipedia</a> -->
		<h1><a href="../"FT Guffipedia &gt;>FT Guffipedia</a></h1>
     	<div class="headshot"><img src="images/lucy.png"></div>
     	<div class="subheader">Lucy Kellaway's dictionary of business jargon and corporate nonsense</div>
     	<div class="line"></div>
     	

		<div class="word">{{word}}</div>

		<ul class="definitions">
			{{#each definitions}}
				<li>
					<ul class="definition">
						{{#if definition}}
							<li class="definition">
								<strong>Translation</strong>
								{{definition}}
							</li>
						{{/if}}
						{{#if sourceurl}}
						{{#if usagesource}}
							<li class="source">Spotted at <a href="{{sourceurl}}">{{usagesource}}</a></li>
						{{/if}}
						{{/if}}
						{{#if perpetrator}}
							<li class="perpetrator">
								<strong>Perpetrator</strong>
								{{perpetrator}}
							</li>
						{{/if}}
						{{#if usageexample}}
							<li class="usageexample">
								<strong>Usage example </strong>
								{{usageexample}}
							</li>
						{{/if}}
						{{#if lucycommentary}}
						{{#if commenturl}}
							<li class="lucycommentary">
								<strong><a href="{{commenturl}}">Lucy's Commentary</a></strong>
								{{lucycommentary}}</li>
						{{/if}}
						{{/if}}
						{{#if submissiondate}}
							<li class="submissiondate">Submitted on {{submissiondate}}</li>
						{{/if}}
						{{#if relatedwords}}
							<li class="relatedwords">Related words</li>
						{{/if}}
					</ul>
				</li>
			{{/each}}
		</ul>
		<form class="backButon" action="../"FT Guffipedia &gt;">
			<button id="back" class="o-buttons o-buttons--standout">Back</button>
		</form>
	</main>
{{> bottom }}
