{{> top }}
	<main>
		<h1><a href="">Guffipedia</a></h1>
     	<div class="headshot"><img src="images/lucy.png"></div>
     	<div class="subheader">Lucy Kellaway's dictionary of business jargon and corporate nonsense</div>
     	<div class="line"></div>
     	<a href="/guffipedia-form" class="o-buttons o-buttons--standout">Suggest an entry</a>

		<div class="detailed-guff">
			<div class="word">
				{{word}}
				<a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="Crime against the English language #{{wordid}} - {{word}}" data-via="FT" data-hashtags="guffipedia">Tweet This</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
			<div class="details">
				{{#if definition}}
					<p class="detail definition"><strong>Translation
					</strong> {{definition}}</p>
				{{/if}}
				{{#if sourceurl}}
				{{#if usagesource}}
					<p class="detail source">Spotted at <a href="{{sourceurl}}" target="_blank">{{usagesource}}</a></p>
				{{/if}}
				{{/if}}
				{{#if perpetrator}}
					<p class="detail perpetrator">
						<strong>Perpetrator</strong>
						{{perpetrator}}
					</p>
				{{/if}}
				{{#if usageexample}}
					<p class="detail usageexample">
						<strong>Usage example </strong>
						{{usageexample}}
					</p>
				{{/if}}
				{{#if lucycommentary}}
				{{#if commenturl}}
					<p class="detail lucycommentary">
						<strong><a href="{{commenturl}}" target="_blank">Lucy's Commentary</a></strong>
						{{lucycommentary}}</p>
				{{/if}}
				{{/if}}
				{{#if relatedwords}}
					<p class="detail relatedwords"><strong>Related:</strong>
					{{#each relatedwords}}<a href="{{slug}}/">{{word}}</a>{{#unless @last}}&comma;&nbsp;{{/unless}}{{/each}}
					</p>
				{{/if}}
			</div>
		</div>
		<div class="navigate-guff">
			{{#if previousWord}}
				<a href="{{previousWord.slug}}/" class="previous-guff">&lt&lt Previous Guff<br><span class="preview">{{previousWord.word}}</span></a>
			{{/if}}
			{{#if nextWord}}
				<a href="{{nextWord.slug}}/" class="next-guff">Next Guff &gt&gt<br><span class="preview">{{nextWord.word}}</span></a>
			{{/if}}
		</div>
		<div class="bottom-container">
			<a href="" class="back-button o-buttons o-buttons--standout">Back</a>
		</div>
	</main>
{{> bottom }}
