{{> top }}
    <main>

     	<h1>FT Guffipedia</h1>
     	<div class="headshot"><img src="images/lucy.png"></div>
     	<div class="subheader">Lucy Kellaway's dictionary of business jargon and corporate nonsense</div>
     	<div class="line"></div>
     	<a href="/guffipedia-form" class="o-buttons o-buttons--standout">Suggest an entry</a>


		<ul class="guffs">
			{{#each words}}
			<li class="guff">
				<a class="word" href="{{@key}}/">{{word}}</a>
				<div class="details">
					{{#if definition}}
						<p class="detail definition"><strong>Translation
						</strong> {{definition}}</p>
					{{/if}}
					{{#if usageexample}}
						<p class="detail usageexample">{{usageexample}}</p>
					{{/if}}
					{{#if relatedwords}}
						<p class="detail relatedwords"><strong>Related:</strong>
						{{#each relatedwords}}<a href="{{slug}}/">{{word}}</a>{{#unless @last}}&comma;&nbsp;{{/unless}}{{/each}}
						</p>
					{{/if}}
				</div>
			</li>
			{{/each}}
		</ul>
    </main>
{{> bottom }}
