{{> top }}
    <main>

     	<h1>Guffipedia</h1>
     	<div class="headshot"><img src="images/lucy.png"></div>
     	<div class="subheader">Lucy Kellaway's dictionary of business jargon and corporate nonsense</div>
     	<div class="line"></div>
     	<div class="btnHolder">
     		<a href="../guffipedia-form" class="o-buttons o-buttons--standout">Suggest your own entry</a>
     	</div>

		<div class="intro">
			<p>In her weekly Financial Times column and her annual Guff Awards, Lucy Kellaway has been prosecuting corporate crimes against the English language for two decades.</p>
			<p>The Guffipedia houses the finest drivel from this archive - as well as fresh twaddle submitted by readers and certified by Lucy</p>
		</div>
		
		<ul class="guffs">
			{{#each homewords}}
			<li class="guff">
				<div class="paraHeads">{{#if @first}}Latest guff <span>added on {{formatteddate}}</span>{{else}}Random guff{{/if}}</div>
				<a class="word" href="{{@key}}/">{{word}}&raquo;</a>
				<div class="details">
					{{#if definition}}
						<p class="detail definition"><strong>Translation into plain English
						</strong> {{definition}}</p>
					{{/if}}
					{{#if usageexample}}
						<p class="detail usageexample">{{usageexample}}</p>
					{{/if}}
					{{#if relatedwords}}
						<p class="detail relatedwords">Related:
						{{#each relatedwords}}<a href="{{slug}}/">{{word}}</a>{{#unless @last}}&comma;&nbsp;{{/unless}}{{/each}}
						</p>
					{{/if}}
				</div>
			</li>
			{{/each}}
			<div class="paraHeads">All the guff</div>
			{{#each words}}
				<ul class="listing">
					<a class="word" href="{{@key}}/">{{word}}</a>
				</ul>
			{{/each}}
		</ul>
    </main>
{{> bottom }}
